header, .nav-btn button, footer, .search-btn button, .property-discription{
    background-color: #0E694B;
}

header{
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    z-index: 1000;
    /* background-color: white; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 10%;
}

.nav-logo {
    width: 10%;
}

.menu ul li a, .menu ul li button, .filter button{
    color: #666666;
    font-family: 'Lufga Regular';
}

.nav-btn button{
    border-radius: 30px;
    width: 120px;
}

.global button{
    font-family: 'Lufga Regular';
}

.menubar-btn button {
    display: none;
}

@media (max-width: 991px) and (min-width: 320px) {
    header{
        width: 100%;
    }

    .menu, .nav-right-btn button {
        display: none; 
    }

    .menubar-btn button {
        display: block;
    }

    .logo2{
        width: 100%;
    }

    .navbar-logo{
        width: 100%;
    }

    .nav-logo{
        width: 15%;
        padding: 10px;
    }

    .home{
        margin-top: 18%;
    }

    .listing-bar{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .listing-head, .property-block-column{
        display: flex;
        flex-direction: column;
    }

    .footer-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-txt{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 991px) {
    .home{
        margin-top: 13%;
    }

    .property-block{
        width: 25%;
    }
}

.home-nav a, .home-nav ul li, .listing-head-list a, .top-property-detail, .top-listing-location, .top-head, .search-txt button, .rent-list p, .see-more-btn button, .page-link{
    font-family: 'Lufga Regular';
}

.home-nav ul li{
    color: #B8B8B8;
}

.home-nav ul li::marker{
    color: #B8B8B8;
}

.listing-head h4, .top-listing-head h2, .property-discription-head h1, .rent-head h1, .rent-head h2{
    font-family: 'Lufga Bold';
}

.listing-head p, .listing-head-btn button, .listing-head-list1 a, .listing-head-column button, .top-property p, .property-block p, .page-number p{
    color: #666666;
    font-family: 'Lufga Regular';
}

.listing-head-btn button{
    border: none;
    background: none;
    width: 70px;
    font-size: 12px;
}

.nav-link :active{
    border: 1px solid #0E694B;
    background-color: #d9faef;
    border-radius: 20px;
}

.listing-head-btn button:hover{
    background-color: #cffddd;
    border: 2px solid #0E694B;
    border-radius: 20px;
    color: #0E694B;
    font-size: 12px;
}

.listing-head-btn button img{
    margin-top: -5px;
}

.top-property-price h2 a, .rent-head h1{
    color: #0E694B;
}

.top-head p, .property-block p{
    font-size: 12px;
}

.top-property-detail, .listing-client{
    border-bottom: 1px solid #d3d3d3;
}

/* .top-property-img{
    width: 50%;
} */

.scrollbar
{
	/* margin-left: 40px; */
	float: left;
	height: 1950px;
    width: 100%;
	/* width: 220px; */
	/* background: #F5F5F5; */
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 750px;
}

#style-1::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgb(223, 220, 220); */
	/* border-radius: 10px; */
	background-color: #c9d8d1;
    border-radius: 10px;
}

#style-1::-webkit-scrollbar
{
	width: 5px;
    height: 5px;
	/* background-color: #F5F5F5; */
    /* height: 40px; */
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgb(223, 220, 220); */
	background-color: #0E694B;
}

.see-more-btn button{
    border: 1px solid #666666;
    width: 120px;
}

.top-property-img img{
    width: 100%;
}

.top-property-name h4, .top-property-price h2, .client h6, .search-txt h6, .property-block h4, .footer-column-list h6, .footer-column h6{
    font-family: 'Lufga SemiBold';
}

.top-listing-location p, .top-head p, .client h6, .client p, .search-txt h6, .property-discription-head h1, .property-discription-head p,
.property-block p, .property-block h4, .rent-list p,  footer p{
    margin-bottom: -0rem;
}

.top-head{
    top: 15px;
    left: 15px;
    border-radius: 20px;
    width: 100px;
    text-align: center;
}

.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      /* text-align: center; */
      font-size: 18px;
      /* background: #fff; */
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }

    .swiper-slide img {
      /* display: block; */
      width: 100%;
      height: 100%;
      /* object-fit: cover; */
    }

    .swiper {
      width: 100%;
      /* height: 300px; */
      margin: 20px auto;
    }
    
.view, .top-listing, .property-discription{
    margin-top: 70px;
}

.search-column, .filter{
    background-color: #f3f3f3;
}

.search-column, .search-btn button{
    border-radius: 20px;
}

.search-txt button, .search-column2 i{
    color: #B8B8B8;
}

.search-txt h6, .search-txt button, .filter button{
    font-size: 14px;
}

.search-btn button{
    width: 50px;
    height: 60px;
}

.filter, .property-discription, .property-discription-block, .see-more-btn button, .page-link{
    border-radius: 10px;
}

.top-listing-head h2, .property-discription-head h1{
    font-size: 44px;
}

.property-discription-head p{
    line-height: 1.8;
}

.property-discription-head p, .property-discription-head p a{
    font-family: 'Lufga Light';
    font-size: 18px;
}

.property-discription-block{
    background-color: white;
}

.property-block h4{
    font-size: 30px;
    line-height: 1.3;
}

.property-block-column{
    gap: 100px;
}

.property-block i{
    font-size: 8px;
}

.property-block h4 {
    color: #0E694B;
}

.block-2 h4{
    color: #0043CE;
}

.block-3 h4{
    color: #81B52C;
}

.rent-list p{
    color: #666666;
}

.rent-head h1, .rent-head h2{
    font-size: 44px;
}

.rent-head h2{
    color: #B8B8B8;
}

.rent-list p{
    font-size: 18px;
}

footer, .rent{
    margin-top: 100px;
}

footer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer-item{
    padding-top: 70px;
    gap: 70px;
    border-bottom: 1px solid #949494;
}

.footer-column p, .footer-column-list ul li, .footer-txt p, .footer-txt h6{
    font-family: 'Lufga Light';
}

.footer-column-list ul li, .footer-column-list p, .footer-txt p, .footer-txt h6{
    font-size: 14px;
}

.footer-column{
    width: 50%;
}

.footer-column-list p{
    width: 70%;
    line-height: 1.8;
}

.footer-txt p{
    width: 85%;
    line-height: 1.8;
}